*{
    box-sizing: border-box;
}

/* :root {
--very-light-grayish-blue: hsl(240, 78%, 98%)
--light-grayish-blue: hsl(234, 14%, 74%)
- Grayish Blue: hsl(233, 13%, 49%)
- Dark Grayish Blue: hsl(232, 13%, 33%)

} */


.container{
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat;
}

.box-container{
    margin-top:40px;
    width:60%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.title{
    font-size:20px ;
    /* font-family: Montserrat; */
}
.anual{
    margin-top:20px;
    display: flex;
    flex-direction: row;
    font-size:10px ;

}

.monthly1{
    margin-top: 10px;
}
.monthly2{
    margin-top: 10px;
    margin-left: 5px;
}
.content{
    display: flex;
    justify-content: center;
    line-height: 30px;
    margin-top: 10px;
}
.box{
    padding:15px;
    border-radius: 10px;
    font-size: 10px;
    width: 80%;
   
}

.price-2{
    font-size:30px;
    margin-left: 5px;
}

.price-1{
    font-size:20px;
}

.button{
    width: 80%;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 9px;
    margin-top: 20px;
    border-radius:5px;
}

.button:nth-of-type(1){
    background-color:hsl(234, 31%, 58%);
}
.button:nth-of-type(2){
    background-color:hsl(240, 78%, 98%);  
}
.button:nth-of-type(3){
    background-color:hsl(240, 25%, 78%);
}

.box:nth-of-type(1){
    background-color: hsl(240, 78%, 98%);
}
.box:nth-of-type(2){
    background-color: hsl(240, 78%, 98%);
    /* background-color: hsl(234, 14%, 74%); */
    /* border-radius: 10px; */
}
.box:nth-of-type(3){
    background-color: hsl(240, 78%, 98%);
}
.box:hover{
    background-color: rgb(121, 121, 190);
}
.button:hover{
    background-color:hsl(240, 78%, 98%);  
    color: rgb(121, 121, 190);
}

/* Toggle switch  */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-left: 5px;
  margin-top: 2.5px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: -1.2px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 50%;
}



@media screen , (min-width:320) and (max-width:480px){
    .container{
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat;

    }
    .box-container{
        margin-top:5px;
        width:60%; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:10px;
    }
    .content{
        display: flex;
        justify-content: center;
        line-height: 10px;
        margin-top:0px;
    }
    .box{
        padding:8px;
        border-radius: 5px;
        font-size: 5px;
        width:55%;
       
    }
    
    .anual{
        margin-top:12px;
        display: flex;
        flex-direction: row;
        font-size:10px ;
    
    }
    .price-2{
        font-size:10px;
        margin-left:3px;
    }
    
    .price-1{
        font-size:7px;
    }

    .button{
        width: 90%;
        color: white;
        text-transform: uppercase;
        white-space: nowrap;
        font-size: 3px;
        margin-top: 10px;
        border-radius:2px;
    }
    .title{
        margin-top: 40px;
        font-size:7px ;
        /* font-family: Montserrat; */
    }

    .anual{
        margin-top:20px;
        display: flex;
        flex-direction: row;
        font-size:5px ;
    
    }

    .monthly1{
        margin-top:10px;
    }
    .monthly2{
        margin-top: 10px;
        margin-left: 3px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 23px;
        height: 11px;
        margin-left: 2px;
        margin-top:7px;
      }
      
    .slider:before {
        position: absolute;
        content: "";
        height: 6px;
        width: 6px;
        left: 3px;
        margin-right:5px;
        bottom: 2.65px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(12px);
        -ms-transform: translateX(12px);
        transform: translateX(12px);
      }
    
    .box:hover{
        background-color: rgb(121, 121, 190);
    }
    .button:hover{
        background-color:hsl(240, 78%, 98%);  
        color: rgb(121, 121, 190);
    }

}



@media (max-width:380px) and (min-width:280px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: Montserrat;

    }
    .box-container{
        margin-top:5px;
        width:70%; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:10px;
    }
    .content{
        display: flex;
        justify-content: center;
        line-height: 10px;
        margin-top:0px;
    }
    .box{
        padding:8px;
        border-radius: 5px;
        font-size: 5px;
        width:55%;
       
    }
    
    .anual{
        margin-top:12px;
        display: flex;
        flex-direction: row;
        font-size:10px ;
    
    }
    .price-2{
        font-size:9px;
        margin-left:3px;
    }
    
    .price-1{
        font-size:7px;
    }

    .button{
        width: 90%;
        color: white;
        text-transform: uppercase;
        white-space: nowrap;
        font-size: 3px;
        margin-top: 10px;
        border-radius:2px;
    }
    .title{
        margin-top: 40px;
        font-size:7px ;
        /* font-family: Montserrat; */
    }

    .anual{
        margin-top:20px;
        display: flex;
        flex-direction: row;
        font-size:5px ;
    
    }

    .monthly1{
        margin-top:10px;
    }
    .monthly2{
        margin-top: 10px;
        margin-left: 3px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 23px;
        height: 11px;
        margin-left: 2px;
        margin-top:7px;
      }
      
    .slider:before {
        position: absolute;
        content: "";
        height: 6px;
        width: 6px;
        left: 3px;
        margin-right:5px;
        bottom: 2.65px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(12px);
        -ms-transform: translateX(12px);
        transform: translateX(12px);
      }
    
    .box:hover{
        background-color: rgb(121, 121, 190);
    }
    .button:hover{
        background-color:hsl(240, 78%, 98%);  
        color: rgb(121, 121, 190);
    }

}


